* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.main-header {
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.home-logo { /* TODO: избавиться от отдельного logo, посмотреть как в htmlacademy   */
    width: 175px;
    height: 26px;
}

.home-logo-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: url("logo.svg") no-repeat;
}

.button {
    display: inline-block;
    padding: 10px 16px;
    background-color: #007DFF;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.timeline {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.timeline .td, .timeline .tr {
    font-size: 11px;
    font-weight: bold;
    color: #858E98;
}

.timeline .time {
    width: 100%;
    height: 46px;
    position: relative;
    right: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .td, .diagram .tr .td {
    width: calc(100%/15.677);
}

.timeline .td:first-child, .diagram .tr .td:first-child {
    width: calc(100%/15.677*0.477);
}

.timeline .td:last-child, .diagram .tr .td:last-child {
    width: calc(100%/15.677*0.2);
}

.timeline .tr, .timeline .tr .td {
    border: none;
}

.main-section, .diagram-section {
    display: flex;
    box-shadow: 0 -1px 0 0 #E9ECEF;
}

.diagram-section {
    width: 100%;
}

.calendar {
    min-width: 245px; /*TODO: нужно ли здесь задавать min-width или обычный width?*/
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.sidebar {
    min-width: 245px;
    border-right: 1px solid #E9ECEF;
}

.eventWrapper {
    position: absolute;
    display: flex;
    height: 44px;
    background: #F6F7F9;
    padding: 8px 0;
}

.event {
    background: #D5DFE9;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

._free-slot {
    background: #fff;
}

.diagram {
    width: 100%;
    position: relative;
    background: #F6F7F9;
}

.diagram .tr {
    display: flex;
    height: 44px;
}

.diagram .item {
    height: 100%;
    margin-left: calc(100%/15.677 - 1px);
    display: flex;
    z-index: 150;
    width: 1px;
    background: rgba(19, 100, 205, 0.10);
}

.diagram .item._first {
    margin-left: calc(100%/15.677*0.477 - 1px);
}

.diagram .item._last{
    margin-left: calc(100%/15.677*0.2);
}

.sidebar .tr, .sidebar .between-floors {
    padding-left: 25px;
}

.sidebar .floor .tr {
    height: 44px;
}

.floor .tr {
    position: relative;
    margin-bottom: 8px;
}

.floor .tr:last-child {
    margin-bottom: 0;
}

.directive {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.scrollwrapper {
    width: 100%;
    display: flex;
}

.cell {
    width: 100%;
    height: 100%;
    background: #fff;
}

.layout {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.tr ._disable {
    z-index: 100;
}

.tr ._disable .event {
    cursor: default;
}

.between-floors {
    height: 37px;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    color: #858E98;
    line-height: 17px;
    text-transform: uppercase;
}

.floor-number {
    padding-top: 20px;
    padding-bottom: 4px;
    display: inline-block;
}

.room-name {
    min-width: 120px;
    font-size: 15px;
    color: #000;
    line-height: 17px;
    font-weight: bold;
    padding-top: 4px;
    margin-bottom: 2px;
    display: inline-block;
}

.room-capacity {
    min-width: 120px;
    font-size: 13px;
    color: #000;
    line-height: 17px;
    display: inline-block;
}

.sidebar._disable {
    color: #858E98;
}

.prev, .next {
    width: 24px;
    height: 24px;
    background: #E9ECEF;
    border-radius: 50px;
    background-repeat:  no-repeat;
}

.prev {
    background-position: 40% 50%;
    background-image: url(arrow2.svg);
}

.next {
    background-position: 60% 50%;
    background-image: url(arrow.svg);
}




