* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.main-header {
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.home-logo { /* TODO: избавиться от отдельного logo, посмотреть как в htmlacademy   */
    width: 175px;
    height: 26px;
}

.home-logo-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: url("logo.svg") no-repeat;
}

.button {
    display: inline-block;
    padding: 10px 16px;
    background-color: #007DFF;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.main-section {
    border-bottom: 1px solid rgba(19, 100, 205, 0.10);
    border-top: 1px solid rgba(19, 100, 205, 0.10);
}

.timeline {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.timeline .td, .timeline .tr {
    font-size: 11px;
    font-weight: bold;
    color: #858E98;
}

.timeline .time {
    width: 100%;
    height: 45px;
    position: relative;
    right: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .td, .diagram .tr .td {
    width: calc(100%/15.677);
}

.timeline .td:first-child, .diagram .tr .td:first-child {
    width: calc(100%/15.677*0.477);
}

.timeline .td:last-child, .diagram .tr .td:last-child {
    width: calc(100%/15.677*0.2);
}

.timeline .tr, .timeline .tr .td {
    border: none;
}

.main-section, .diagram-section {
    display: flex;
}

.diagram-section {
    width: 100%;
}


.calendar {
    min-width: 245px; /*TODO: нужно ли здесь задавать min-width или обычный width?*/
    height: 45px;
}

.sidebar {
    min-width: 245px;
    height: 45px;
    border-right: 1px solid rgba(19, 100, 205, 0.10);
}

.event {
    position: absolute;
    display: inline-block;
    height: 44px;
    width: 146px;
    background: #D5DFE9;
    opacity: 0.5;
    background-clip: content-box;
    padding: 8px 0;
}
.event2 {
    position: absolute;
    left: 210px;
    display: inline-block;
    height: 44px;
    width: 180px;
    background: #D5DFE9;
    opacity: 0.5;
    background-clip: content-box;
    padding: 8px 0;
}

.event3 {
    position: absolute;
    left: 510px;
    display: inline-block;
    height: 44px;
    width: 760px;
    background: #D5DFE9;
    opacity: 0.5;
    background-clip: content-box;
    padding: 8px 0;
}

.diagram {
    width: 100%;
}

.diagram .tr {
    display: flex;
    height: 45px;
}

.diagram .item {
    height: 100%;
    width: calc(100%/15.677);
    border-right: 1px solid rgba(19, 100, 205, 0.10);
}

.diagram .item._first {
    width: calc(100%/15.677*0.477);
}

.diagram .item._last{
    width: calc(100%/15.677*0.2);
}

.tr {
    position: relative;
}

.directive {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.scrollwrapper {
    width: 100%;
    display: flex;
}





