<!DOCTYPE html>
<html>

<head>
    <script data-require="angularjs@1.5.3" data-semver="1.5.3" src="https://code.angularjs.org/1.5.3/angular.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <link rel="stylesheet" href="homePage.css">
    <link rel="stylesheet" href="normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body ng-app="app"  ng-controller="MainController as ctrl">
<header class="main-header">
    <div class="home-logo">
        <a href="#" class="home-logo-link"></a>
    </div>
    <div class="create-button">
        <a href="#" class="button">Создать встречу</a>
    </div>
</header>
<section class="main-section">
    <div class="calendar">
        <a class="prev" href="#" ng-click="ctrl.changeEvents()"></a>
        <a class="" href="#" ng-click="ctrl.changeEvents()">Изменить события</a>
        <a class="next" href="#" ng-click="ctrl.changeEvents()"></a>
    </div>
    <div class="timeline">
        <div class="td"><div class="time">8:00</div></div>
        <div class="td"><div class="time">9</div></div>
        <div class="td"><div class="time">10</div></div>
        <div class="td"><div class="time">11</div></div>
        <div class="td"><div class="time">12</div></div>
        <div class="td"><div class="time">13</div></div>
        <div class="td"><div class="time">14</div></div>
        <div class="td"><div class="time">15</div></div>
        <div class="td"><div class="time">16</div></div>
        <div class="td"><div class="time">17</div></div>
        <div class="td"><div class="time">18</div></div>
        <div class="td"><div class="time">19</div></div>
        <div class="td"><div class="time">20</div></div>
        <div class="td"><div class="time">21</div></div>
        <div class="td"><div class="time">22</div></div>
        <div class="td"><div class="time">23</div></div>
        <div class="td"></div>
    </div>
</section>

<section class="diagram-section">
    <div class="sidebar">
        <div class="floor" ng-repeat="floor in ctrl.floors track by $index">
            <div class="between-floors">
                <span class="floor-number">{{floor.number}} этаж</span>
            </div>
            <div class="tr" ng-repeat="room in floor.rooms track by $index">
                <div class="room-name">{{room.name}}</div>
                <div class="room-capacity">{{ctrl.getCapacity(room)}}</div>
            </div>
        </div>
    </div>
    <div class="diagram">
        <div class="layout">
            <div class="item _first"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>

        <div class="floor" ng-repeat="floor in ctrl.floors track by $index">
            <div class="between-floors"></div>
            <div class="tr" ng-repeat="room in floor.rooms track by $index">
                <room-events
                        events="room.currentEvents">
                </room-events>
            </div>
        </div>

        <!--<div class="tr">
            <room-events
                    events="ctrl.events">
            </room-events>
        </div>
        <div class="tr">
            <room-events
                    events="ctrl.events">
            </room-events>
        </div>
        <div class="tr">
            <room-events
                    events="ctrl.events">
            </room-events>
        </div>
        <div class="tr">
            <room-events
                    events="ctrl.events">
            </room-events>
        </div>-->
    </div>

</section>

<script type="text/javascript" charset="utf-8">
    angular.module('app', []);

    angular.module('app').controller('MainController', MainController)
                        .directive('roomEvents', roomEventsDirective)
                        .directive('calendar', calendarDirective)
                        .factory('constantsFactory', constantsFactory);

    function MainController($scope) {
        var self = this;
        var flag = true;
        self.floors = [{
            number: 7,
            rooms: [{
                name: "Ржавый Фред",
                capacity: "3:6"
            },
                {
                    name: "Прачечная",
                    capacity: ":10"
                },
                {
                    name: "Жёлтый дом",
                    capacity: ":10"
                },
                {
                    name: "Оранжевый тюльпан",
                    capacity: ":10"
                }]
        },
            {
                number: 6,
                rooms: [{
                    name: "Джокер",
                    capacity: "3:6"
                },
                    {
                        name: "Мариванна",
                        capacity: "3:6"
                    },
                    {
                        name: "Тонкий боб",
                        capacity: "3:6"
                    },
                    {
                        name: "Чёрная вдова",
                        capacity: "3:6"
                    },
                    {
                        name: "Белорусский ликёр",
                        capacity: "3:6"
                    }]
            }];
        var events1 = [{
            id: 1,
            start: "10:00",
            end: "11:35"
        },
            {
                id: 2,
                start: "13:00",
                end: "15:00"
            }];

        var events2 = [{
            id: 3,
            start: "15:00",
            end: "15:55"
        },
            {
                id: 4,
                start: "19:00",
                end: "22:00"
            }];

        self.events = events1;

        self.setEventsInRooms = function () {
            self.floors.forEach(function (floor) {
                floor.rooms.forEach(function(room) {
                    room.currentEvents = self.events;
                });
            });
        };

        self.getCapacity = function (room) {
            var capacity = room.capacity.split(':');

            if (!capacity[0])
                return 'до ' + capacity[1] + ' человек'; // TODO: подумать про локализацию
            else
                return capacity[0] + ' - ' + capacity[1] + ' человек';
        };

        self.changeEvents = function () {
            if (flag) {
                self.events = events2;
                self.setEventsInRooms();
                flag = false;
            }
            else {
                self.events = events1;
                self.setEventsInRooms();
                flag = true;
            }
        };

        self.setEventsInRooms();
    }

    function roomEventsDirective($document, constantsFactory, $timeout) {
        return {
            scope: {},

            // TODO: заменить на slots
            bindToController: {
                events: "<"
            },

            templateUrl: 'room-events.tmpl.html',
            controllerAs: "ctrl",

            controller: function ($scope, $element, $attrs) {
                var self = this;

                addFreeSlots();

                $scope.$watch(function() { return self.events;} , addFreeSlots);

                function addFreeSlots() {
                    var i = 0, freeSlot;

                    self.events.sort(sortByTime);

                    if (toMinutes(constantsFactory.startTime) < toMinutes(self.events[0].start)) {
                        self.events.unshift({
                            start: constantsFactory.startTime,
                            end: self.events[0].start,
                            isFreeSlot: true
                        });
                        i = 1;
                    }
                    for (; i < self.events.length - 1; i++)
                        if (toMinutes(self.events[i].end) < toMinutes(self.events[i + 1].start)) {
                            freeSlot = {
                                start: self.events[i].end,
                                end: self.events[i + 1].start,
                                isFreeSlot: true
                            };
                            self.events.splice(i + 1, 0, freeSlot);
                        }

                    if (toMinutes(self.events[i].end) < toMinutes(constantsFactory.endTime))
                        self.events.push({
                            start: self.events[i].end,
                            end: constantsFactory.endTime,
                            isFreeSlot: true
                        });
                }

                function toMinutes(time) {
                    var result = time.split(':');
                    var hours = +result[0];
                    var minutes = +result[1];

                    return (hours - 7) * 60 + minutes - 32; //TODO разобраться с магическими числами
                }

                function sortByTime(event1, event2) {
                    if (toMinutes(event1.start) < toMinutes(event2.start))
                        return 0;
                    else
                        return 1;
                }

                self.getLeft = function (slot) {
                    var start = toMinutes(slot.start);
                    var left = start + " / " + constantsFactory.allTime + " * 100%";

                    return 'calc(' + left + ')';
                };

                self.getWidth = function (slot) {
                    var start = toMinutes(slot.start);
                    var end = toMinutes(slot.end);

                    var left = start + " / " + constantsFactory.allTime + " * 100%";
                    var width = end + " / " + constantsFactory.allTime + " * 100%" + " - " + left;

                    return 'calc(' + width + ')';
                };

                self.getWidthDisableSlot = function () {
                    var start = toMinutes(constantsFactory.startTime);
                    var end = toMinutes(constantsFactory.currentTime);

                    var left = start + " / " + constantsFactory.allTime + " * 100%";
                    var width = end + " / " + constantsFactory.allTime + " * 100%" + " - " + left;

                    return 'calc(' + width + ')';
                };

                self.log = function (slot) {
                   console.log(slot.id);
                };
            },

            link: function (scope, element, attrs, ctrl) {

            }

        }
    }

    function constantsFactory() {
        var factory = {};

        factory.currentTime = "9:00";
        factory.startTime = "7:32";
        factory.endTime = "23:12";
        factory.allTime = 940;

        return factory;
    }

    function calendarDirective(constantsFactory) {
        return {
            scope: {},

            bindToController: {
                format: '@',
                currentDate: '=',
                selectedDate: '='
            },

            templateUrl: 'calendar.tmpl.html',

            controller: function($scope, $element, $attrs) {

            },

            link: function (scope, element, attrs, ctrl) {

            },

            controllerAs: 'ctrl'
        }
    }

</script>
</body>

</html>






































